/* Draggable */
.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    word-break: break-all;
    font-family: 'Courier Prime', monospace;
    border: 1px solid rgba(128, 128, 128, 0.445);
    border-radius: 5px;
    cursor: pointer;
    background: white;
    font-weight: normal;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
}

.is-dragging{
  opacity: 1;
}

.item:hover{
    background-color: rgba(0, 0, 0, 0.068);
}

.x{
  padding-left: 20px;
}