@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');


*{
  font-family: 'Courier Prime', monospace;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#grid{
  background-color: rgb(240, 240, 240);
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 100px 300px 207px;
  grid-template-areas:
    "perfil infos infos"
    "perfil example-parent example-parent"
    "perfil example-parent example-parent";
}

.perfil{
  padding: 50px 20px 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: perfil;
  /* background-color: #718bd1; */
  background-color: #cae2ee;
  border-right: 3px solid #D3D1CB;
  justify-content: space-between;
}

.infos{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-area: infos;
  border-bottom: 3px solid #D3D1CB;
}

.example-parent {
  background-image: url("../../assets/planos-de-fundo/arranjo-da-vista-superior-de-papel-de-carta-de-material-natural.jpg");
  background-repeat: no-repeat;
  background-size: cover; 

  padding: 0px 15px 0px 15px;
  overflow: auto;
  grid-area: example-parent;
    color: black;
    display: flex;
    justify-content: center;
}