@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');


*{
  
  font-family: 'Courier Prime', monospace;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#grid{
  background-color: rgb(240, 240, 240);
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 100px 300px 207px;
  grid-template-areas:
    "perfil example-parent example-parent"
    "perfil example-parent example-parent"
    "perfil example-parent example-parent";
}

.perfil{
  padding: 50px 20px 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: perfil;
  background-color: #ebe8e8;
  border-right: 1px solid black;
  justify-content: space-between;
}

.infos{
  padding-top: 8px;
  padding-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-area: infos;
}

.example-parent {
  background-image: url("../../assets/planos-de-fundo/arranjo-da-vista-superior-de-papel-de-carta-de-material-natural.jpg");
  background-repeat: no-repeat;
  background-size: cover; 
  overflow: auto;
  grid-area: example-parent;
  color: black;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}