@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');


*{
  font-family: 'Courier Prime', monospace;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#grid{
  background-color: rgb(240, 240, 240);
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 100px 309px 210px;
  grid-template-areas:
    "perfil infos infos"
    "perfil example-parent example-parent"
    "perfil example-parent example-parent";
}

.perfil{
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: perfil;
  background-color: #9faed6;
  justify-content: space-around;
}

.infos{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-area: infos;
}

.example-parent {
  overflow: auto;
  grid-area: example-parent;
    color: black;
    display: flex;
}