/* PERFIL */
.perfil{
    position: relative;
    min-width: 220px;
    width: 20%;
    padding: 20px 0px;
    display: flex;
    border-right: 1px solid var(--border-gray);
    transition: 0.2s;
}

.box{
    display: flex;
    align-items: center;
}

#about-me{
    padding: 30px 34px;
    width: 100%;
    height: 100%;
    margin: 17px 0px;
    border-top: 1px solid var(--border-gray);
    border-bottom: 1px solid var(--border-gray);
    display: flex;
}

.perfil-infos{
    gap: 30px;
    list-style: none;
    display: flex;
    flex-direction: column;
}

#user-img{
    border-radius: 10%;
    margin-right: 5px;
    width: 50px;
    height: 50px;
    background-color: #fefefe;
    display: flex;
    align-items: center;
    justify-content: center;
}

#frist-letter{
    font-size: 40px;
    padding-top: 7px;
}

#user-name{
    font-size: 20px;
}

.open-box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.close-perfil{
    width: 2%;
    min-width: 2%;
    padding: 0px;
}

.close-box{
    display: none;
}

#clear{
    background-color:white;
    border: 1px solid var(--border-gray);
    width: 140px;
    border-radius: 15px;
    padding: 5px 0px;
    cursor: pointer;
    transition: 0.5s;
}
  
#clear:hover{
    background-color: #dadada;
}

#btn-close{
    cursor: pointer;
    background-color: white;
    display: flex;
    margin: 5px 0px 0px 20px;
    padding: 8px;   
    border-radius: 50%;
    position: absolute;
    top: 22px;
    right: -15px;
    border: 0.5px solid var(--border-gray);
}

#btn-close:hover{
    background-color: #dadada;
}

.giro{
    transform: rotate(180deg);
}