/* PERFIL */
.perfil{
    position: relative;
    min-width: 10%;
    width: 20%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #DFE1E6;
    transition: 0.2s;
}

#user-img{
    border-radius: 10%;
    margin-right: 5px;
    width: 50px;
    height: 50px;
    background-color: #fefefe;
    display: flex;
    align-items: center;
    justify-content: center;
}

#frist-letter{
    font-size: 40px;
    padding-top: 7px;
}

#user-name{
    font-size: 20px;
}

.open-box{
   height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.close-perfil{
    width: 2%;
    min-width: 2%;
    padding: 0px;
}

.close-box{
    display: none;
}

.box{
    display: flex;
    align-items: center;
}

#clear{
    background-color:white;
    border: 1px solid #D3D1CB;
    width: 140px;
    border-radius: 15px;
    padding: 5px 0px;
    cursor: pointer;
    transition: 0.5s;
}
  
#clear:hover{
    background-color: #dadada;
}

#btn-close{
    display: flex;
    margin: 5px 0px 0px 20px;
    padding: 10px;   
    border-radius: 50%;
    position: absolute;
    top: 30px;
    right: -15px;
    border: 0.5px solid #DFE1E6;
}

#btn-close:hover{
    background-color: #dadada;
}

.giro{
    transform: rotate(180deg);
}